.h2-carrito{
    font-size:1.5rem;
}
.descripcion-carrito{
    font-size:1rem;
    width:70%;
}
.contenedor-compra{
    background-color:#F9FAFB;
    padding:3rem;
    border-radius:1rem;
}
.terminar-btn{
    background:#4BB543;
}