@use 'custom' as *; 
li{
    list-style: none;
}
.categoria-curso{
    border:1px solid $grisoscuro;
}
.listado-cursos{
    @include make-row;

        .titulo{
            font-family:$fuente-textos;
            font-size:1rem;
        }
        .instructor{
            font-size:.8rem;
            margin:0;
        }
        .calificacion{
            width:6rem;
        }
        .precio{
            font-size:.9rem;
            span{
                font-size:.7rem;
                text-decoration: line-through;
            }
        }
        .total{
            font-size:.8rem;
        }
    }
.fondo{
    background-color: #1C1D1F;
}
